<div ui-view="navbar"></div>

    	<header class="jumbotron jambo-hheader" >
    <div class="container ">
            <div class="col-xs-8 col-sm-5" >
                    <h1 id="htp">FAQ</h1>
                </div>
    </div>
    </header>
    
    	<div	class="panel-group"	id="accordion”	role="tablist”>	
            <div	class="panel	panel-default q" >	
	 	         <div	class="panel-heading"	role="tab"	id="Q" >	
                     <h3	class="panel-Stle">	
			         <a	role="button"	data-toggle="collapse" data-parent="#accordion"	href="faq#q1" >1. How do i find my friends?</a>	
			         </h3>	
	 	         </div>	
	 	     <div	role="tabpanel"	class="panel-collapse	collapse"	id="q1">	
                 <div	class="panel-body" id="faqbackanswer">	
                    You can find you friends in the Group tab by entering their e-mail address or
                     by searching them by their username.
				</div>	
	 	     </div>	
            </div>	
			 <div	class="panel	panel-default q">	
	 	         <div	class="panel-heading"	role="tab"	id="Q">	
                     <h3	class="panel-Stle">	
			         <a	role="button"	data-toggle="collapse" data-parent="#accordion"	href="faq#q2">2. How can i score more points in the game?</a>	
			         </h3>	
	 	         </div>	
	 	     <div	role="tabpanel"	class="panel-collapse	collapse"	id="q2">	
                 <div	class="panel-body" id="faqbackanswer">	
                    You can score more points by participating more and guessing correctly the 
                     Who Said to Who contest that takes place in each group that you're added to.
                     Also each time you post a Who Said sentence you get extra points.
				</div>	
	 	     </div>	
            </div>						
        </div>
    
<div ui-view="footer"></div>