<div ui-view="navbar"></div>

<header class="jumbotron jambo-hheader" >
    <div class="container ">
        <h1 id="htp">Profile</h1>
    </div>
</header>

    <div>
    <img src="images/Female.png" alt="Gender" id="imgprop"/>
        
    <div class="form-group" id="marginprofile">
        <label for="emailid" class="col-sm-2 control-label" style ="margin-left: 20px;">Email</label>
             <div class="col-sm-4">
               <input type="email" class="form-control" id="widthprofile" name="emailid" placeholder="Email">
             </div>
    </div>
        <br>
    <div class="form-group" id="marginprofile">
        <label for="emailid" class="col-sm-2 control-label" style ="margin-left: 20px;">First Name</label>
             <div class="col-sm-4">
               <input type="First Name" class="form-control" id="widthprofile" name="First Name" placeholder="First Name">
             </div>
    </div>
        <br>
     <div class="form-group" id="marginprofile">
        <label for="emailid" class="col-sm-2 control-label" style ="margin-left: 20px;">Last Name</label>
             <div class="col-sm-4">
               <input type="Last Name" class="form-control" id="widthprofile" name="Last Name" placeholder="Last Name">
             </div>
    </div>
        
    </div>
<br><br><br><br>

<div ui-view="footer"></div>