<div id="whosaid-groups">
    <div>
        Groups
        <ul>
            <li class="list-unstyled">
                <a href="#">
                    group 1
                </a>
            </li>
            <li class="list-unstyled">
                group 2
            </li>
            <li class="list-unstyled">
                group 3
            </li>
            <li class="list-unstyled">
                group 4
            </li>
            <li class="list-unstyled">
                group 5
            </li>
        </ul>
    </div>
</div>